  <center><font size = 4><b>Module 04: Introduction to Pandas</b></font></center>

This module is primarily based on the web site: https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/pandas-dataframes/import-csv-files-pandas-dataframes/

In [1]:
import ipywidgets as widgets
from IPython.display import display, HTML

javascript_functions = {False: "hide()", True: "show()"}
button_descriptions  = {False: "Show code", True: "Hide code"}


def toggle_code(state):

    """
    Toggles the JavaScript show()/hide() function on the div.input element.
    """

    output_string = "<script>$(\"div.input\").{}</script>"
    output_args   = (javascript_functions[state],)
    output        = output_string.format(*output_args)

    display(HTML(output))


def button_action(value):

    """
    Calls the toggle_code function and updates the button description.
    """

    state = value.new

    toggle_code(state)

    value.owner.description = button_descriptions[state]


state = False
toggle_code(state)

button = widgets.ToggleButton(state, description = button_descriptions[state])
button.observe(button_action, "value")

display(button)

ToggleButton(value=False, description='Show code')

In this module, we focus on how to load different formats of data to Python using Pandas, one of the most popular libraries in Python, to do data analysis.

## 1. What Is Pandas?

### 1.1. What is Pandas?

Pandas is a package commonly used to deal with data analysis in Python. It simplifies the loading of data from external sources such as text files and databases, as well as providing ways of analysing and manipulating data once it is loaded into the computer. The features provided in pandas automate and simplify a lot of the common tasks that would take many lines of code to write in the basic Python langauge. Pandas is a hugely popular and still growing. 

### 1.2. Features of Pandas

Pandas is best suited for structured, labelled data, in other words, tabular data, that has headings associated with each column of data. The official Pandas website describes Pandas’ data-handling strengths as:

* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet.
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels.
* Any other form of observational / statistical data sets. The data actually need not be labelled at all to be placed into a pandas data structure.

Some other important points to note about Pandas are:

* Pandas is fast. Python sometimes gets a bad rap for being a bit slow compared to ‘compiled’ languages such as C and Fortran. * But deep down in the internals of Pandas, it is actually written in `C`, and so processing large datasets is no problem for Pandas.
* Pandas is a dependency of another library called `statsmodels`, making it an important part of the statistical computing ecosystem in Python.


### 1.3. Conventions when using Pandas

Since we have have installed a scientific Python distribution via Anaconda, we can use all of the features of Pandas by importing Pandas to the program. The syntax is

```
import pandas as pd
```

By convention, the pandas module is almost always imported this way as pd. Every time we use a pandas feature thereafter, we can shorten what we type by just typing pd, such as pd.some_function().

If we are running Python interactively, such as in IPython, we need to type in the same import statement at the start of each interactive session.

Try the following to see which version of Pandas you are running:

In [3]:
# Import packages
import pandas as pd     
# Check the current version of Pandas
print(pd.__version__)

0.24.2

## 2. Understand Pandas Data Structures

Pandas has two core data structures used to store data: The Series and the DataFrame.

### 2.1. Series

The series is a one-dimensional array-like structure designed to hold a single array (or ‘column’) of data and an associated array of data labels, called an index. We can create a series to experiment with by simply passing a list of data, let’s use numbers in this example:

In [4]:
import pandas as pd

my_series = pd.Series([4.6, 2.1, -4.0, 3.0])  # define a Pandas series from a list
print(my_series)

0    4.6
1    2.1
2   -4.0
3    3.0
dtype: float64

Note that printing out our Series object prints out the values and the index numbers. If we just wanted the values, we can add to our script the following line:

In [5]:
print(my_series.values)

[ 4.6  2.1 -4.   3. ]

We can access the series using index.

### 2.2. Data Frames

The DataFrame represents tabular data, a bit like a spreadsheet. DataFrames are organised into colums (each of which is a Series), and each column can store a single data-type, such as floating point numbers, strings, boolean values etc. DataFrames can be indexed by either their row or column names. (They are similar in many ways to R’s data.frame.)

We can create a DataFrame in Pandas from a Python dictionary, or by loading in a text file containing tabular data.

* **Review of Dictionary**

> **Dictionaries** are a core Python data structure that contain a set of key:value pairs. Thinking about having a written language dictionary, say for English-Hungarian, if we want to know the Hungarian word for “spaceship”, we would look-up the English word (the dictionary key in Python) and the dictionary would give you the Hungarian translation (the dictionary value in Python). So the “key-value pair” would be **'spaceship': 'űrhajó'**.

Values can be any Python object such as numbers, lists, tuples, or even other dictionaries. The following example illustrates a typical dictionary with values as tuples. This is part of the data files that will be used in this module.

In [8]:
# Names (keys) mapped to a tuple (the value) containing the height, lat and longitude.
scottish_hills = {'Ben Nevis': (1345, 56.79685, -5.003508),
                  'Ben Macdui': (1309, 57.070453, -3.668262),
                  'Braeriach': (1296, 57.078628, -3.728024),
                  'Cairn Toul': (1291, 57.054611, -3.71042),
                  'Sgòr an Lochain Uaine': (1258, 57.057999, -3.725416)}

Looking up a Scottish mountain using its name as the key would then give us the height, latitude and longitude as the value returned.

In [9]:
scottish_hills['Braeriach']

(1296, 57.078628, -3.728024)

* **Defining Pandas Data Frame From A Dictionary**

Try creating a Python script that converts a Python dictionary into a Pandas DataFrame, then print the DataFrame to screen. We use the above scottish_hills example.

In [10]:
import pandas as pd

scottish_hills = {'Ben Nevis': (1345, 56.79685, -5.003508),
                  'Ben Macdui': (1309, 57.070453, -3.668262),
                  'Braeriach': (1296, 57.078628, -3.728024),
                  'Cairn Toul': (1291, 57.054611, -3.71042),
                  'Sgòr an Lochain Uaine': (1258, 57.057999, -3.725416)}

dataframe = pd.DataFrame(scottish_hills)
print(dataframe)

     Ben Nevis   Ben Macdui    Braeriach   Cairn Toul  Sgòr an Lochain Uaine
0  1345.000000  1309.000000  1296.000000  1291.000000            1258.000000
1    56.796850    57.070453    57.078628    57.054611              57.057999
2    -5.003508    -3.668262    -3.728024    -3.710420              -3.725416

The above data frame is not the same format as a spreadsheet. It would probably make more sense for the columns to be categories or types of data, rather than the names of each hill.

To do this, we need to think about how to structure our dictionary. Pandas works best with dictionaries when the dictionary keys refer to column names or headers. Here’s a better dictionary to use.

In [11]:
import pandas as pd

# This will overwrite the previous dictionary
scottish_hills = {'Hill Name': ['Ben Nevis', 'Ben Macdui', 'Braeriach', 'Cairn Toul', 'Sgòr an Lochain Uaine'],
                  'Height': [1345, 1309, 1296, 1291, 1258],
                  'Latitude': [56.79685, 57.070453, 57.078628, 57.054611, 57.057999],
                  'Longitude': [-5.003508, -3.668262, -3.728024, -3.71042, -3.725416]}
dataframe = pd.DataFrame(scottish_hills)
print(dataframe)

               Hill Name  Height   Latitude  Longitude
0              Ben Nevis    1345  56.796850  -5.003508
1             Ben Macdui    1309  57.070453  -3.668262
2              Braeriach    1296  57.078628  -3.728024
3             Cairn Toul    1291  57.054611  -3.710420
4  Sgòr an Lochain Uaine    1258  57.057999  -3.725416

## 3. Read Data From A File Using Pandas

Pandas has built in tools for reading data from a variety of external data formats, including Excel spreadsheets, raw text and .csv files. It can also interface with databases such as MySQL, but we are not going to cover databases in this module.

We're going to use the `scottish_hills.csv` file using this link to the data in the [Github repository](https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/scottish_hills.csv). The file contains all the mountains above 3000 feet (about 914 metres) in Scotland. We can load this easily into a Data Frame with the read_csv function.

We can provide either the path to the file in the local machine or the URL to a web site.

Pandas' `pd.read_csv()` can read both text and csv data file to Python and `pd.read_excel()` for Excel data files.

### 3.1. Read Data from URL

In [23]:
import pandas as pd
##
scottish_hills = pd.read_csv("https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/scottish_hills.csv")
print(scottish_hills.head(5))  # print the first 5 records

                    Hill Name  Height   Latitude  Longitude    Osgrid
0       A' Bhuidheanach Bheag   936.0  56.870342  -4.199001  NN660775
1               A' Chailleach   997.0  57.693800  -5.128715  NH136714
2               A' Chailleach   929.2  57.109564  -4.179285  NH681041
3  A' Chraileag (A' Chralaig)  1120.0  57.184186  -5.154837  NH094147
4             A' Ghlas-bheinn   918.0  57.255090  -5.303687  NH008231

The source data files in the next two examples are in text and xlsx formats.

In [19]:
import pandas as pd
##
iris_txt = pd.read_csv("https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/iris.txt", sep="\t")
print(iris_txt.head(5))  # print the first 5 records

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
import pandas as pd
##
iris_xlsx = pd.read_excel('https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/iris.xlsx')
print(iris_xlsx.head(5))  # print the first 5 records

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 3.2. Read Data Files From Local Machine

We assume we have all files used in the above examples saved in `C:\PythonCarshCourse`. Next, three examples read the three data file from the local folder.

In [24]:
import pandas as pd
##
scottish_hills_loc = pd.read_csv("C:/PythonCarshCourse/scottish_hills.csv")  # "/" was used in the path!
print(scottish_hills_loc.head(5))  # print the first 5 records

                    Hill Name  Height   Latitude  Longitude    Osgrid
0       A' Bhuidheanach Bheag   936.0  56.870342  -4.199001  NN660775
1               A' Chailleach   997.0  57.693800  -5.128715  NH136714
2               A' Chailleach   929.2  57.109564  -4.179285  NH681041
3  A' Chraileag (A' Chralaig)  1120.0  57.184186  -5.154837  NH094147
4             A' Ghlas-bheinn   918.0  57.255090  -5.303687  NH008231

In [31]:
import pandas as pd
##
iris_txt_loc = pd.read_csv("C:\\PythonCarshCourse\\iris.txt", sep ="\t")   # instead of using"/", we also use "\\".
print(iris_txt_loc.head(5)) # print the first 5 records

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [32]:
import pandas as pd
##
iris_xlsx_loc = pd.read_excel('C:\\PythonCarshCourse\\iris.xlsx')
print(iris_xlsx_loc.head(5))  # print the first 5 records

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 3.3 Save Pandas Data Frame

Saving a pd.DataFrame stores the data structure in a file and allows the extraction of data for further use.

**USE pandas.DataFrame.to_pickle() TO SAVE A DATAFRAME**

Call DataFrame.to_pickle(filename) to save DataFrame to a new file with name filename. Call pd.read_pickle(filename) to read filename and retrieve the DataFrame.

In [32]:
import pandas as pd

## define a dictionary 
toydata = {'A':[1,2,3],
        'B':[4,5,6],
        'C':[7,8,9]
       }
## convert to a pd data frame
toyDataframe = pd.DataFrame(toydata)
## save the pd data frame to the current directory
toyDataframe.to_pickle("toyDataframe.pkl")
## read the data frome to Python
output = pd.read_pickle("toyDataframe.pkl")
print(output)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## 4. Accessing Pandas Data Frame

Pandas Data Frames have many useful methods that can be used to inspect the data and manipulate it. We are going to have a look at just a few of them.

If our Data Frame was huge, we would not want to print all of it to screen, instead we could have a look at the first n items with the head method, which takes the number of rows you want to view as its argument. We have used this methods in Section 3.

We can also print the last few rows to view the content using `print(dataframe.head(n))`. If `n` is not specified, by default, n = 5.

### 4.1. Accessing Columns

We can simply use the column names to select desired columns in a Pandas data frame.

* **Print Out Column Names of Pandas Data Frames**

In [37]:
# Import pandas package 
import pandas as pd 
    
# making data frame 
iris= pd.read_csv("C:\\PythonCarshCourse\\iris.csv") 
    
# calling head() method  
# storing in new variable 
iris_top = iris.head(0)  # "n = 0" only lists the names of the columns
    
# display 
iris_top

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

* **Select Columns**

We can subset a Pandas data frame by selecting a subset of columns using the column names. The previous example shows how to get column names in case we have a data frame with a large number of columns.

In [53]:
sepal_width = iris[['sepal_width', 'petal_width']]

In [57]:
sepal_width.head()   # print the first few rows

   sepal_width  petal_width
0          3.5          0.2
1          3.0          0.2
2          3.2          0.2
3          3.1          0.2
4          3.6          0.2

### 4.2. Effective Approach to Subset A Pandas Dataframe: <font color = "red"><b>loc</b></font> and <font color = "red"><b>iloc</b></font>

<font color = "red"><b>iloc</b></font> is short for “integer location”. It gives us access to the DataFrame in more traditional ‘matrix’ style notation, i.e. [row, column] notation. For example, the sepal_length (first column) in the first row can be extracted using the following code

In [76]:
# Import pandas package 
import pandas as pd 
    
# making data frame 
iris= pd.read_csv("C:\\PythonCarshCourse\\iris.csv") 
iris.iloc[0][0]

5.1

We can also select certain number of rows and columns from a Pandas data frame.

In [14]:
iloc_subseting = iris.iloc[[0,2,3],[0,2,4]]
iloc_subseting

   sepal_length  petal_length species
0           5.1           1.4  setosa
2           4.7           1.3  setosa
3           4.6           1.5  setosa

The <font color = "red"><b>loc[a, b]</b></font>, on the other hand, accepts Boolean values for the first argument `a`and the string vaues for the second argument `b` (coloumn names). See the following example for an illustration.

In [18]:
a_Boolean_index = iris.sepal_length >7          # this returns a series of Boolean values
b_col_names = ['sepal_length', 'sepal_width', 'species']
loc_subsetting = iris.loc[a_Boolean_index, b_col_names]
loc_subsetting

     sepal_length  sepal_width    species
102           7.1          3.0  virginica
105           7.6          3.0  virginica
107           7.3          2.9  virginica
109           7.2          3.6  virginica
117           7.7          3.8  virginica
118           7.7          2.6  virginica
122           7.7          2.8  virginica
125           7.2          3.2  virginica
129           7.2          3.0  virginica
130           7.4          2.8  virginica
131           7.9          3.8  virginica
135           7.7          3.0  virginica

### 4.3. Summary of Access Operations

|Operation  | Pandas Code |
|:---------|:------------|
|Cell indexing by location|df.iloc[1, 1]|
|Row slicing by location|df.iloc[1:3]|
|Column slicing by location|df.iloc[:, 1:]|
|Row indexing by label|df.loc['c']|
|Column indexing by label|df.loc[:, 'x']|
|Column slicing by label|df.loc[:, ['x', 'z']]|
| |df.loc[:, 'x':'z']|
Mixed indexing|df.loc['c'][1]|

## 5. Manipulating Pandas Data Frames

* **A More Pandas-style Approach**

A quicker way to accomplish the above subsetting task is

```
dataframe['Hill Name'][0]
```

This section only introduces the basic manipulations of Pandas data frame.

In [89]:
import pandas as pd
##
iris = pd.read_csv("https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/iris.csv")
print("The dimension of iris: ",iris.shape, "\n\n First 5 rows of iris data:\n")  # dimension of iris data.
print(iris.head(5))                                                # print the first 5 records.
print("\n\nUnique values in species:", iris['species'].unique())   # different values in species.

The dimension of iris:  (150, 5)

 First 5 rows of iris data:

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


Unique values in species: ['setosa' 'versicolor' 'virginica']

### 5.1. Selecting Rows Using Logical Operators

In pandas, specific rows can be selected if they satisfy certain conditions using Python’s logical operators. The result is a Pandas data frame that is a subset of the original data frame.

The following code selects only `setosa`. There are 50 `setosa` flowers in the data frame.

In [83]:
iris_setosa = iris[iris.species == 'setosa']
# dataframe.shape
shape_setosa = iris_setosa.shape   # returns number of rows and columns of the data frame
shape_setosa

(50, 5)

Multiple logical conditions can be combined with OR (using |) and AND (using &), and each condition must be `enclosed in parentheses`.

In [92]:
iris_setosa_virginica = iris[(iris.species == 'setosa') | (iris.species== 'virginica')]
# dataframe.shape
shape_setosa_virginica = iris_setosa_virginica.shape   # returns number of rows and columns of the data frame
shape_setosa_virginica

(100, 5)

### 5.2. Pandas apply() function

The Pandas apply() function can be used to apply a function on every value in a column or row of a data frame, and transform that column or row to the resulting values.

By default, it will apply a function to all values of a column. To perform it on a row instead, you can specify the argument `axis = 1` in the `apply() function` call. This allows us to define new variables based on the existing variables (columns) in the data frame.

In the code, we define three new variables (columns): `sepal_length2`, `sepal_length3`, and `avg_width`.

In [3]:
import pandas as pd
##
iris = pd.read_csv("https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/iris.csv")

# This function doubles the input value
def double(x):
    return 2*x
 
# Apply this function to double every value in a specified column
sepal_length2 = iris.sepal_length.apply(double)
 
# Lambda functions (i.e., function with no name) can also be supplied to `apply()`
sepal_length3 = iris.sepal_length.apply(lambda x : 3*x)
 
# Applying to a row requires it to be called on the entire DataFrame
avg_width = iris.apply(lambda row: row['sepal_width'] * 0.5 + row['petal_width']*0.5,
     axis = 1    # This tells apply() to work across columns
)

### 5.3. Adding New Columns to Data Frame

Pandas DataFrames allow for the addition of columns after the DataFrame has already been created, by using the format `df['newColumn']` and setting it equal to the new column’s value.

Next we add the three new variables to `iris data`.

In [4]:
iris['sepal_length2'] = sepal_length2
iris['sepal_length3'] = sepal_length3
iris['avg_width'] = avg_width
new_iris_shape = iris.shape
print("Dimension of the new iris data: ",new_iris_shape)
print("\n\n First 5 rows of iris: \n", iris.head(5))

Dimension of the new iris data:  (150, 8)


 First 5 rows of iris:
    sepal_length  sepal_width  petal_length  petal_width species  \
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length2  sepal_length3  avg_width
0           10.2           15.3       1.85
1            9.8           14.7       1.60
2            9.4           14.1       1.70
3            9.2           13.8       1.65
4           10.0           15.0       1.90

### 5.4. Delete A Column/Row From A DataFrame

The Pandas library provides us with a useful function called drop which we can utilize to get rid of the unwanted columns and/or rows in our data.

* **Dropping Columns**

In [5]:
iris_new = iris
iris_new.shape

(150, 8)

In [7]:
drop_sepal_length2 = iris_new.drop("sepal_length2", axis=1, inplace=False)

<font color = "red">What Does <b>The inplace Parameter</b> Do?</font>

By default, it is set to False and due to this, the operation does not modify the original Dataframe. Instead, it returns `a copy of the original data frame` on which the operations are performed. In other words, `inplace=True` is used depending on if we want to make changes to the original data frame or not.

As in the above code, we did assign the returned Dataframe to a new variable, we did get a new Dataframe in which `sepal_length2` was dropped out.

In [8]:
drop_sepal_length2.shape

(150, 7)

In [9]:
drop_sepal_length2.head(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length3,avg_width
0,5.1,3.5,1.4,0.2,setosa,15.3,1.85
1,4.9,3.0,1.4,0.2,setosa,14.7,1.60
2,4.7,3.2,1.3,0.2,setosa,14.1,1.70
3,4.6,3.1,1.5,0.2,setosa,13.8,1.65
4,5.0,3.6,1.4,0.2,setosa,15.0,1.90

* **Delete Multiple Rows in Data Frame by Row Index**

In this method, we only need to provide row IDs (defined in the form of list) to the `drop() function`.

In [10]:
drop_rows = drop_sepal_length2.drop([1,2,3], axis = 0, inplace = False)
drop_rows.head(5)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length3,avg_width
0,5.1,3.5,1.4,0.2,setosa,15.3,1.85
4,5.0,3.6,1.4,0.2,setosa,15.0,1.90
5,5.4,3.9,1.7,0.4,setosa,16.2,2.15
6,4.6,3.4,1.4,0.3,setosa,13.8,1.85
7,5.0,3.4,1.5,0.2,setosa,15.0,1.80

Sometimes, we need to find the row index based on certain condition. For example, we eant to delete all rows in which the average width, `avg_width` is bigger than 1.6. The following code will accomplish the task.

In [11]:
# extract row index based on the given condition
dropping_index = drop_rows.index[drop_rows['avg_width'] > 1.6]

# drop rows with the given row indes
drop_rows_index = drop_rows.drop(dropping_index, axis = 0, inplace = False)
drop_rows_index

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length3,avg_width
8,4.4,2.9,1.4,0.2,setosa,13.2,1.55
9,4.9,3.1,1.5,0.1,setosa,14.7,1.60
12,4.8,3.0,1.4,0.1,setosa,14.4,1.55
13,4.3,3.0,1.1,0.1,setosa,12.9,1.55
25,5.0,3.0,1.6,0.2,setosa,15.0,1.60
34,4.9,3.1,1.5,0.1,setosa,14.7,1.60
37,4.9,3.1,1.5,0.1,setosa,14.7,1.60
38,4.4,3.0,1.3,0.2,setosa,13.2,1.60
41,4.5,2.3,1.3,0.3,setosa,13.5,1.30
60,5.0,2.0,3.5,1.0,versicolor,15.0,1.50
62,6.0,2.2,4.0,1.0,versicolor,18.0,1.60

* **Deleting A Data Frame**

We can delete the whole data frame using `del` command. The following is an illustrative example.

In [19]:
del dropping_index       # delete the data frame
dropping_index.head(5)   # this will generate a NameError since the data frame has been deleted.

NameError: name 'dropping_index' is not defined

<font color = "red"><b> Note:</b></font> Reducing memory usage in Python is difficult, because Python does not actually release memory back to the operating system. If you delete objects, then the memory is available to new Python objects, but not free()'d back to the system.

### 5.5. Sorting and Grouping A Data Frame

* **Sort by A Variable**

In [13]:
import pandas as pd
##
iris = pd.read_csv("https://raw.githubusercontent.com/pengdsci/PythonCrashCourse/main/datasets/iris.csv")
iris_sort_petal_length = iris.sort_values('petal_length' , ascending = True , inplace = False)
iris_sort_petal_length.head(10)

    sepal_length  sepal_width  petal_length  petal_width species
22           4.6          3.6           1.0          0.2  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
38           4.4          3.0           1.3          0.2  setosa
42           4.4          3.2           1.3          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa

* **Group Variable**

In [20]:
iris.groupby(["species"])["sepal_length"].mean()

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

Calculate the grouped mean and name as a new variable to add it to the data frame.

In [27]:
iris.groupby(["species"])["sepal_length"].mean().rename("species_mean")

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: species_mean, dtype: float64

### 5.6. Summary 

WE have presented some examples of various Pandas data frame manipulation. The following table summarizes more data frame operations.

|Operation	     |   pandas	 |
|:-------------------|:----------|
|Reduce multiple values	 | df['z'].mean(skipna = False)	| 
|                        |df['z'].mean()|	
|                        | df[['z']].agg(['mean'])|	
|Add new columns	 | df.assign(z1 = df['z'] + 1)|	 
|Rename columns          | df.rename(columns = {'x': 'x_new'})|	 
|Pick & transform columns| df.assign(x_mean = df['x'].mean())[['x_mean', 'y']] |
|Sort rows	         |df.sort_values(by = 'x')|	 
|                        |df.sort_values(by = ['grp', 'x'], ascending = [True, False])|
|Drop missing rows	 |df.dropna()|	 
|Select unique rows	 |df.drop_duplicates()|
|Aggregate by groups	|df.groupby('grp')['x'].mean()	 
|Rename column after aggregation	|df.groupby('grp')['x'].mean().rename("my_mean")	| 
|Add aggregated data as column	|df.join(df.groupby('grp')['x'].mean(), on='grp', rsuffix='_mean') |	 
|Select output columns	|df.join(df.groupby('grp')['x'].mean(), on='grp', rsuffix='_mean')[['grp', 'x_mean']]|
|Complex Function	|df[['z']].agg(lambda v: np.mean(np.cos(v)))|	
|Aggregate multiple columns|	df.agg({'x': max, 'y': min})|	
||df[['x', 'y']].mean()	|
||df.filter(regex=("^x")).mean()|	
|Apply function over multiple variables|	df.assign(x_y_cor = np.corrcoef(df.x, df.y)[0, 1])	|
|Row-wise operation|	df.assign(x_y_min = df.apply(lambda v: min(v.x, v.y), axis=1))	|
||df.assign(x_y_argmax = df.apply(lambda v: df.columns[v.argmax()], axis=1))	|
|DataFrame as input|	df.groupby('grp').head(2)|	
|DataFrame as output|	df[['x']].agg(lambda x: [min(x),max(x)])|

## 6. Work with Multiple DataFrames

There are many occasions when we have related data spread across multiple files.

The data can be related to each other in different ways. How they are related and how completely we can join the data from the datasets will vary.

In this section we will consider different scenarios and show we might join the data. We will use csv files and in all cases. Several toy data sets in csv format will be used.

### 6.1. Two data sets containing the same columns but different rows of data

In [41]:
import pandas as pd
# read toy data sets
toyi_a = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_a.csv")
toyi_b = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_b.csv")
##
df_all_rows = pd.concat([toyi_a, toyi_b], axis=0, ignore_index=True)
df_all_rows

      Id  Q1  Q2  Q3  Q4
0      1   1  -1   1   8
1      2   3  -1   1   4
2      3  10   3   2   6
3      4   9  -1  10  10
4      5  10   2   6   1
5      6   1  -1   1   1
6      7   1  -1   1   8
7      8   1  -1   1   1
8      9   9  -1  10  10
9     10   2  -1   1   1
10  1277  10  10   4   6
11  1278   2  -1   5   4
12  1279   2  -1   4   5
13  1280   1  -1   2   3
14  1281  10   2   3   4
15  1282   2  -1   3   6
16  1283  10  10   2  10
17  1284   9  -1   8   9
18  1285  11  11   1   2
19  1286  10   6   6   6

What if the columns in the Dataframes are not the same?

In [40]:
toyi_aa = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_aa.csv")
toyi_bb = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_bb.csv")
df_all_rows2 = pd.concat([toyi_aa, toyi_bb], axis=0, ignore_index=True, sort=False)
df_all_rows2

      Id  Q1  Q2    Q3    Q4
0      1   1  -1   1.0   NaN
1      2   3  -1   1.0   NaN
2      3  10   3   2.0   NaN
3      4   9  -1  10.0   NaN
4      5  10   2   6.0   NaN
5      6   1  -1   1.0   NaN
6      7   1  -1   1.0   NaN
7      8   1  -1   1.0   NaN
8      9   9  -1  10.0   NaN
9     10   2  -1   1.0   NaN
10  1277  10  10   NaN   6.0
11  1278   2  -1   NaN   4.0
12  1279   2  -1   NaN   5.0
13  1280   1  -1   NaN   3.0
14  1281  10   2   NaN   4.0
15  1282   2  -1   NaN   6.0
16  1283  10  10   NaN  10.0
17  1284   9  -1   NaN   9.0
18  1285  11  11   NaN   2.0
19  1286  10   6   NaN   6.0

In this case `toyi_aa` has no Q4 column and `toyi_bb` has no Q3 column. When they are concatenated, the resulting Dataframe has a column for Q3 and Q4. For the rows corresponding to `toyi_aa` the values in the Q4 column are missing and denoted by NaN. The same applies to Q3 for the `toyi_bb` rows.

### 6.2. Adding the columns from one Dataframe to those of another Dataframe

In [42]:
toyi_c = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_c.csv")
toyi_d = pd.read_csv("https://github.com/pengdsci/PythonCrashCourse/raw/main/datasets/toyi_d.csv")
df_all_cols3 = pd.concat([toyi_c, toyi_d], axis = 1)
df_all_cols3

   Id  maritl  numhhd  Id  Q1  Q2
0   1       6       3   1   1  -1
1   2       4       3   2   3  -1
2   3       6       2   3  10   3
3   4       4       1   4   9  -1
4   5       4       1   5  10   2
5   6       2       2   6   1  -1
6   7       2       2   7   1  -1
7   8       2       2   8   1  -1
8   9       6       2   9   9  -1
9  10       6       1  10   2  -1

We use the `axis=1` parameter to indicate that it is the columns that need to be joined together. Notice that the `Id column` appears twice, because it was a column in each dataset. This is not particularly desirable, but also not necessarily a problem. However, there are better ways of combining columns from two Dataframes which avoid this problem.For example, we can drop the ID variable before joining the two data frames.

### 6.3. Using merge to join columns

We can join columns from two Dataframes using the merge() function. This is similar to the SQL ‘join’ functionality.

We specify the type of `join` we want using the `how parameter`. The default is the `inner join` which returns the columns from both tables where the key or common column values match in both Dataframes.

The different join types behave in the same way as they do in SQL. In Python/pandas, any missing values are shown as NaN

In order to merge the Dataframes we need to identify a column common to both of them.

In [45]:
toy_cd0 = pd.merge(toyi_c, toyi_d, how='inner', on = 'Id')
toy_cd0

   Id  maritl  numhhd  Q1  Q2
0   1       6       3   1  -1
1   2       4       3   3  -1
2   3       6       2  10   3
3   4       4       1   9  -1
4   5       4       1  10   2
5   6       2       2   1  -1
6   7       2       2   1  -1
7   8       2       2   1  -1
8   9       6       2   9  -1
9  10       6       1   2  -1

In many circumstances, the column names that you wish to join on are not the same in both Dataframes, in which case you can use the `left_on` and `right_on` parameters to specify them separately.

In [47]:
toy_cd1 = pd.merge(toyi_c, toyi_d, how='inner', left_on = 'Id', right_on = 'Id')
toy_cd1

   Id  maritl  numhhd  Q1  Q2
0   1       6       3   1  -1
1   2       4       3   3  -1
2   3       6       2  10   3
3   4       4       1   9  -1
4   5       4       1  10   2
5   6       2       2   1  -1
6   7       2       2   1  -1
7   8       2       2   1  -1
8   9       6       2   9  -1
9  10       6       1   2  -1

### 6.4. Summary

|Operation	     |   pandas command	 |
|:-------------------|:----------|
|Inner join	|pd.merge(df, df2, how = 'inner', on = 'grp')	 |
|Outer join	|pd.merge(df, df2, how = 'outer', on = 'grp')	 |
|Left join	|pd.merge(df, df2, how = 'left', on = 'grp')	| 
|Right join	|pd.merge(df, df2, how = 'right', on = 'grp')|	 
|Semi join (filtering)	|df[df.grp.isin(df2.grp)]	| 
|Anti join (filtering)	|df[~df.grp.isin(df2.grp)]|

In the cases of semi joins and anti joins, the isin function in pandas can still be used as long as the join keys are combined in a tuple.

## 7. Multiple Pandas Data Files


We want to check if a specific Dataframe already exists. If it does, we load it to Python. Otherwise, we create an empty dataframe to append new data to each of the dataframe. The following is the pesudo code to handle aforementioned situation.

def create_df(path):
    if os.path.isfile(path):
        df = pd.read_pickle(path)
    else:
        df = pd.DataFrame(columns = ['Date', 'Location', 'Product'])
    return df

all_paths = (...)

# dict where key is you path and value is dataframe    
all_df = {p: create_df(p) for p in all_paths}

for p in all_paths:
    all_df[p].to_pickle(p)